body {
  background-image: url("../Images/fondbleu.png");
  background-size:cover;

}

.container
{
    display: flex;
    flex-direction: row;
}

.divImg
{
    display: flex;
    flex-direction: column;
}

#Titre1 {
  color: white;
  font-size: 70px;
  display: flex;
  justify-content: center;
  border: 4px;
  border-style: solid;
  border-color: #e45505;
  background: linear-gradient(270deg, #e45505, #3bb6fb, #3bb6fb, #e45505);
  background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.border {
	font-size: 1.6rem;
	place-items: center;
	border: 5px solid;
	padding: 10px;
}

.full {
	border-image: linear-gradient(180deg, #036399, #3bb6fb) 1;
  background-color: #222;
  width: 100%;
  color: white;
  text-align: center;
}

#Gérant1 {
  border-radius: 50%;
  max-width: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

#salariés {
  border-radius: 50%;
  max-width: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  line-height: 2;
  font-size: 25px;
  color: #e45505;
  font-weight: bold;
  text-align: center;
  border: 2px solid;
}

.Histoire {
  margin-left: 80px;
  font-weight: bold;
}

.Prix {
  margin-left: 80px;
  font-weight: bold;
}

.Object {
  margin-right: 20px;
  font-weight: bold;
}
.Val {
  margin-right: 20px;
  font-weight: bold;
}

.Table {
  column-count: 2;
}
li {
  text-align: center;
  color: #e45505;
  font-size: 25px;
  line-height: 2;
  font-weight: bold;
}

p:hover {
  box-shadow: 10px 10px 10px 10px #036399;
}

.Subtitle {
  border-image: linear-gradient(180deg, #036399, #3bb6fb) 1;
  background-color: #222;
  color: white;
}

@media screen and (max-width: 400px)
{
p {
  font-size: 8.7vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.25em;
}

.container {
  display: block;
}

.contres {
  margin-bottom: 100px;
}

.Prix {
margin-left: 0;
}

li{
  font-size: 20px;
}
.Histoire {
  margin-left: 0;
}

.Object {
  margin-right: 0px;
}
.Val {
  margin-right: 0px;
}
.full {
  width: 90%;
}
}

@media screen and (min-width: 410px) and (max-width: 912px) {
  p {
    font-size: 6vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.25em;
  }

  .container {
    display: block;
  }

  .contres {
    margin-bottom: 100px;
  }

  .contentfooter .coord {
    display: block;
  }

  .divImg {
    text-align: center;
    flex-direction: column;
  }

#Gérant1 {
}
  .Prix {
  margin-left: 0;
  }

  li{
    font-size: 20px;
  }
  .Histoire {
    margin-left: 0;
  }

  .Object {
    margin-right: 0px;
  }
  .Val {
    margin-right: 0px;
  }
  .full {
    width: 95%;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1014px) {
  p {
    font-size: 8,5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.25em;
  }
  #Gérant1 {
    margin-top: 500px;
  }

  #salariés {
    margin-top: 200px;
  }

  .Prix {
  margin-left: 80px;
  margin-bottom: 200px;
  }

  .divImg {
    margin-top: 1000px;
  }

  li{
    line-height: 1;
    font-size: 30px;
    margin-top: 50px;
  }
  .Histoire {
    margin-left: 80px;
  }

  .Object {
    margin-right: 80px;
  }
  .Val {
    margin-right: 80px;
  }
  .full {
    width: 100%;
  }
  }

@media only screen and (min-width: 1024px) and (max-width: 1050px)
